.container {
  width: 80%;
  min-width: 280px;
  margin: 16px auto;
  background: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 10px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
  }
  &__content {
    padding-top: 8px;
  }
}
